*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner{
    width: 80%;
    margin:0 auto;
}

header nav{
    display: flex;
    justify-content: space-between;
}

#cta{
    text-align: center;
    margin: 50px auto 0 auto;
    width: 60%;
    color: white;
}

.octa-buttons{
    background-color: white;
    color:black;
    border: none;
    border-radius: 10px;
}
.flex-container{
    display: flex;
    justify-content: center;
}

main section{
    text-align: center;
}

nav ul li{
    display: inline;
    list-style: none;
    color: white;
}
header{
    background-image: url(./img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover ;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    height: 500px;
    
    
}
.div{
    background-color:#3131e8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.section{
    display: flex;
    justify-content: space-evenly;
}
#main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.white{
    background-color: #fff;
}
.grey{
    background-color: #f4f4f4;
}
footer ul li{
    list-style: none;

}
.lista{
    display: inline;
    display: flex;
    flex-direction: row;
}
.parte-iniziale{
    color: white;
    background-color: #3131e8;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 80px;
    
}
span{
    width: 50px;
    height: 20px;
    background-color: white;
}

footer{
    background-color: #1b1d20;



}
.col{
    width: 100px;
    height: 300px;
    background-color: white;
    border: 10px solid #1b1d20 ;
}
#last-titolo{
    background: white;
    width: 400px;
    height: 80px;
    margin-top: 50px;

}
hr{
    color: red;
    background: #4549ef;
    border: 0;
    height: 3px;
    margin-top: 20px;
}
.logo-fine{
    width: 120px;
    height: 50px;
    background-color: white;

}
.tasto-fine{
    width: 120px;
    height: 50px;
    background-color: #4549ef;
    border-radius: 30px;

}
#bottom{
    display: flex;
    justify-content: space-around;
    padding-block: 30px;
    color: white;
}