*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    
}

.conteiner{
    width: 80%;
    margin:0 auto;
    
}

h3{
    font-size: xxx-large;
    margin-bottom: 20px;
}

header nav{
    display: flex;
    justify-content: space-between;
}

#cta{
    text-align: center;
    margin: 50px auto;
    color: white;
    line-height:30px;
    width: 80%;

}
 h1{
    font-size: xxx-large;
    margin-bottom: 50px;
    font-weight:bold;
    
}

.cta-buttons{
    background-color: white;
    color: black;
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 300px;
    

}


main section{
    text-align: center;
}

nav ul li{
    display: inline;
    list-style: none;
    color: white;
    margin-inline: 15px;
}
header{
    background-image: url(./img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover ;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    height: 500px;
    
    
}
.div{
    background-color:#3131e8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.section{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 40px auto;
    align-items: center;

}
main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.grey{
    background-color: #f4f4f4;
}

.lista{
    display: inline;
    display: flex;
    flex-direction: row;
    color: white;
}
.ultimo{
    display: flex;
    flex-direction: column;
}

footer{
    background-color: #1b1d20;
}
.col{
    color: white;
    margin-inline: 70px;
    list-style: none;
    line-height: 30px;
    margin-top: 50px;

}

hr{
    color: red;
    background: #4549ef;
    border: 0;
    height: 3px;
    margin-top: 20px;
}

.tasto-fine{
    width: 100px;
    height: 45px;
    background-color: #4549ef;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    padding-left: 15px;
    padding-top: 10px;

}
#bottom{
    display: flex;
    justify-content: space-around;
    padding-block: 30px;
    color: white;
}
#last-titolo{
    margin-top: 50px;
    margin-inline: 50px;
    font-size: xx-large;
    color: #5f72d1;
}
footer li:first-child{
    color: #5f72d1;
}

#social{
    color: white;
    list-style: none;
display: inline-block;
}
#tasto-inizio{
    width: 100px;
    height: 45px;
    background-color:white;
    border-radius: 30px;
    background-size: contain;
    text-decoration: none;
    color: black;
    padding-left:20px;
    padding-top: 10px;
}

.tasto-scuro{
     background-color: #1b1d20;
     color: white;
}